body {
    font-family: 'Raleway', sans-serif;
}

.jumbotron {
    background-color: #fff;
}

#startBtn {
    border-radius: 0;
}

.questionImage{
    max-width: 100px;
    margin: 10px;
}

.displayNone{
    display:none; /* used to set gameContent to display none then show it with jQuery */
}